@import "../../scss/variables.scss";
@import "../../scss/font.scss";

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/images/covers/home-ricebowl.png");
    background-position: right 70%;
    background-repeat: no-repeat;
    background-size: 50%;

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30vh;
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: AlternateGothicNo2, sans-serif, 'Arial', sans-serif;
        border-bottom: 1px solid $border-color;
        padding: 0 0 24px 0;
    }

    &__subtitle {
        font-size: 1.5rem;
        margin: 0;
    }

    &__menu-wrapper {
        width: 100%;
        height: 40vh;
    }

    &__hours {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        height: 10vh;
        padding: 0 64px;
        flex-direction: column;
    }

    &__time {
        font-size: 1rem;
        margin: 1rem 0;
    }

}