@import "../../scss/variables.scss";

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 16px 0 32px 0;

    &__wrapper {
        display: flex;
        gap: 2rem;
        text-decoration: none;
        list-style: none;
        color: $font-dark;
    }

    &__link {
        position: relative;
        text-decoration: none;
        color: $font-dark;

        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            right: 0;
            height: 2px;
            width: 75%;
            background: currentColor;
            transform: scaleX(0);
            transform-origin: bottom left;
            transition: transform 0.3s ease-in-out;
            transition-delay: 0.2s;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    &__link--active {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        color: $font-dark;
        font-weight: bold;
    }
}