.home-menu {
    display: flex;
    align-items: flex-start;
    margin: 32px 64px;
    height: 30vh;

    &__wrapper {
        font-size: 2rem;

    }

    &__link {
        position: relative;
        margin: 1rem 0;

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            height: 2px;
            width: 60%;
            background: currentColor;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.3s ease-in-out;
            transition-delay: 0.2s;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}