@import "./scss/variables.scss";
@import "./scss/font.scss";

.main {
    display: flex;
    flex-direction: column;
    color: $base-font;
    min-height: 100vh;
}

.routers {
    flex-grow: 1;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100vw;
    height: 64px;
}